body{
    margin: 0;
    background:linear-gradient(to bottom, rgb(65, 255, 151), rgb(250, 201, 127));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: monospace;
    color: rgb(100, 100, 100);
}

.dialog{
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 250px;
}

.dialog label{
    margin-top: 15px;
    padding: 4px;
    padding-right:10px ;
    padding-left:10px ;
    background-color: rgb(247, 146, 63);
    max-width: fit-content;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.dialog input{
    border: none;
    background-color: rgb(192, 192, 192);
    padding: 10px;
    border-radius: 10px;
    border-top-left-radius: 0px;
}

button{
    margin-top: 8px;
    border: 0px;
    background-color: rgb(247, 146, 63);
    color: white;
    padding: 10px;
    border-radius: 100px;
}