@font-face {
    font-family: "meda" ;
    src: url("font.ttf") format("truetype");
}

body{
    margin: 0;
    background:linear-gradient(to bottom, rgb(65, 255, 151), rgb(250, 201, 127));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family:"meda";
    color: rgb(100, 100, 100);
}

#title{
    font-size: large;
    font-weight: bold;
}

a{
    font-size: small;
    text-align: center;
}

.dialog{
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 250px;
}

.dialog label{
    margin-top: 15px;
    padding: 4px;
}

.dialog input{
    border: 1px solid grey;
    padding: 10px;
    border-radius: 10px;
    font-family: meda;

}

#continue{
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    background-color: rgb(65, 255, 151);
    color: white;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3;
}

#continue:hover{
    background-color: rgb(11, 245, 116);
}

#switch{
    color: rgb(82, 82, 82);
    max-width: max-content;
    border: 0;
    background-color: white;
}

#switch:hover{
    color: blue;
}

#warning{
    text-align: left;
    color: rgb(247, 108, 108);
    margin-top: 5px;
}