@font-face {
    font-family: "meda" ;
    src: url("font.ttf") format("truetype");
}

body{
    margin: 0;
    background:linear-gradient(to bottom, rgb(65, 255, 151), rgb(250, 201, 127));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family:"meda";
    color: rgb(100, 100, 100);
}

.dialog{
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 250px;
}

.dialog label{
    margin-top: 15px;
    padding: 4px;
}

.dialog input{
    border: 2px solid grey;
    padding: 10px;
    border-radius: 10px;

}

button{
    margin-top: 8px;
    border: 0;
    background-color: rgb(247, 146, 63);
    color: white;
    padding: 10px;
    border-radius: 10px;
}