@font-face {
    font-family: "meda" ;
    src: url("font.ttf") format("truetype");
}

body{
    margin: 0;
    background:linear-gradient(to bottom, rgb(65, 255, 151), rgb(250, 201, 127));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family:"meda";
    color: rgb(100, 100, 100);
}

.dialog{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.addSection{
    display: flex;
    align-items: center;
    gap: 20px;
}

#addLink{
    background-color: lightgreen;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    width:30px;
    height: 30px;
    font-size: x-large;
}

#addLink:hover{
    background-color: rgb(11, 245, 116);
}

#miniDialog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.452);
    /* visibility: hidden; */
}

.dia{
    width: 300px;
    background-color: white;
    padding: 10px;
    border-radius: 15px;

}

#miniTitle{
    font-size: large;
    font-weight: bold;
}

.miniButtons{
    display: flex;
    gap: 4px;
}

.miniButtons button{
    flex: 1;
    background-color: rgb(206, 206, 206);
    font-family: meda;
    color: rgb(80, 80, 80);
    font-weight: bold;
    border: 0;
    padding: 5px;
    border-bottom-left-radius: 10px;
    letter-spacing: 1px;
}

#cancel{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 10px;
}


.miniButtons button:hover{
    background-color: rgb(194, 193, 193);
}

#addlink-content{
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 5px;
    margin-bottom: 10px;
}

#addlink-content input{
    border-radius: 6px;
    border: 1px solid grey;
    padding: 5px;
    font-family: meda;
}

#humanVer{
    margin: 15px;
}

#verAnswer{
    border-radius: 6px;
    border: 1px solid grey;
    padding: 5px;
    width: 40px;
    font-family: meda;
    color: rgb(82, 82, 82);
}