@font-face {
    font-family: "meda" ;
    src: url("font.ttf") format("truetype");
}

body{
    margin: 0;
    background:linear-gradient(to bottom, rgb(65, 255, 151), rgb(250, 201, 127));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family:"meda";
    color: rgb(100, 100, 100);
}

.dialog{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.addSection{
    display: flex;
    align-items: center;
    gap: 20px;
}

#addLink{
    background-color: rgb(11, 245, 116);
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    width:30px;
    height: 30px;
    font-size: x-large;
}

#addLink:hover{
    background-color: rgb(11, 245, 116);
}

#miniDialog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.452);
    visibility: hidden;
}

.dia{
    width: 300px;
    background-color: white;
    padding: 10px;
    border-radius: 15px;

}

#miniTitle{
    font-size: large;
    font-weight: bold;
}

.miniButtons{
    display: flex;
    gap: 4px;
}

.miniButtons button{
    flex: 1;
    background-color: rgb(11, 245, 116);
    font-family: meda;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: 0;
    padding: 5px;
    border-bottom-left-radius: 10px;
    letter-spacing: 1px;
}

#cancel{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 10px;
}

#addlink-content{
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 5px;
    margin-bottom: 10px;
}

#addlink-content input{
    border-radius: 6px;
    border: 1px solid grey;
    padding: 5px;
    font-family: meda;
}

#humanVer{
    margin: 15px;
}

#verAnswer{
    border-radius: 6px;
    border: 1px solid grey;
    padding: 5px;
    width: 40px;
    font-family: meda;
    color: rgb(82, 82, 82);
}

#logout, #acceptlog, #copyLink{
    background-color: rgb(11, 245, 116);
    border: none;
    color: white;
    padding: 8px;
    border-radius: 6px;
    font-weight: bold;
}

#acceptlog{
    background-color: rgb(255, 71, 71);
    display: none;
}

#copyLink{
    margin-left: 40px;
}

#listitem {
    display:flex;
    gap:10px;
    align-items: center;
    background-color: rgb(222, 222, 222);
    padding: 10px;
    border-radius: 8px;
}

#listitem button{
    border: none;
    color: white;
    padding: 8px;
    border-radius: 6px;
    font-weight: bold;
}

#linkDel{
    background-color: rgb(11, 245, 116);
}

#linkDelAccept{
    background-color: rgb(255, 83, 83);
    display: none;

}

.listHolder{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 8px;
}

#list{
    margin-top: 20px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#list::-webkit-scrollbar {
  display: none;
}
#list {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#listitem{
    display: none;
}

#listitem div{
    margin-left: auto;
    display: flex;
    gap: 10px;
}

#linkTxt{
    color: rgb(0, 187, 87);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
}

#linkUrl{
    color: rgb(38, 179, 255);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.miniButtons button:hover{
    background-color:  rgb(27, 153, 84);
}

#linkDel:hover{
    background-color:  rgb(27, 153, 84);
}

#logout:hover{
    background-color:  rgb(27, 153, 84);
}

#acceptlog:hover{
    background-color:  rgb(153, 27, 27);
}

#copyLink:hover{
    background-color:  rgb(27, 153, 84);
}

#addLink:hover{
    background-color:  rgb(27, 153, 84);
}

#linkDelAccept:hover{
    background-color:  rgb(153, 27, 27);
}